html {
    font-family: 'Comic Sans MS';
    background: #ddd;
}

body {
    width: 80%;
    margin: 0 auto;
}

.slow {
    margin: 20px;
    border: 1px solid #eee;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    text-align: center;
    float: right;
}

ul {
    list-style: none;
}
