<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>The Best Rubber Duck</title>
        <link href="legacy.css" rel="stylesheet"/>
    </head>
    <body>
        <fragment id="header"
                  src="http://localhost:5000/header"/>
        <div class="content">
            <fragment id="slowFeature"
                      src="http://localhost:6000/slow"/>
            <fragment id="productDetails"
                      src="http://localhost:7000/duck"/>
        </div>
    </body>
</html>
